@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.header {
    background: #d81b60;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
.nav {
    display: flex;
    justify-content: center;
    background: #333;
}
.nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.nav a:hover {
    background: #575757;
}
.container {
    padding: 20px;
    text-align: center;
}
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.booking-form, .flights-list {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}.
.button {
    background: #d81b60;
    color: white;
    border: none;
    cursor: pointer;
}
.button:hover {
    background: #b01550;
}